div.br-cont {
    padding-top: 1.618rem;
    padding-bottom: 1.618rem;
    margin-top: 15px;
}
div {
    display: block;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    min-width: 300px;
    max-width: 780px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
img.thumb {

    border-radius: 50%;
    border: 1px solid #b5b5b5;
    padding: 2px;
    position: relative;
}
.float-left {
    float: left;
}
.padding-15 {
    padding-right: 15px;
    padding-left: 15px;
}
span.title {
    font-size: 1.618rem;
    color: #e3b40c;
    display: inline-block;
    margin-top: 0;
    font-weight: normal;
    line-height: 1.2;
}
span.subtitle {
    font-size: 0.85rem;
    color: #b5b5b5;
    display: inline-block;
    position: absolute;
    line-height: 1;
    font-weight: normal;
    /* letter-spacing: 0.056rem; */
    text-shadow: 0px 1px 0px white;
}
span.price, span.price-red {
    font-size: 1rem;
    font-family: "Arial";
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.02rem;
}
.odd:after {
    content:'';
    display:block;
    clear: both;
}
.br-cont::before {
    position: absolute;
    left: 0;
    right: 45px;
    height: 11px;
    bottom: -100px;
    background: url(http://bffmazmena.lt/custom/img/small_shadow.png);
    content: "";
    z-index: 99;
}
.br-cont::after {
    position: absolute;
    width: 45px;
    right: 0;
    height: 11px;
    bottom: -100px;
    background: url(http://bffmazmena.lt/custom/img/small_shadow.png);
    background-position: -1955px 0;
    content: "";
    z-index: 99;
}
